body{
    margin: 0px;
}
h1:hover{
    background-color: white;
    color: black;
}

.twoFlag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.button{
    background-color: rgb(251, 69, 3);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    padding: 1%;
    border-radius: 5px;
    color: aliceblue;
}
footer h2{
    font-family: 'Staatliches';
}

#first-button :hover{
/* background-color: aqua; */
}

/* media queries */
/* for large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 769px) {
    #banner{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3%;
        padding: 3%;
        border-radius: 10px;
    }
    #title{
        font-size:50px;
        font-weight:bold;
        font-family: 'Staatliches';
    }

    #banner img{
        width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
        padding: 80px;
      }
      .grid-item {
        background-color:azure;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }

    .menu{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        background-color: black;
        border-radius: 5px;
        height: 330px;
        width: 1000px;
        position: relative;
        left: 50px;
        top: -60px;
        color: aliceblue;

    }
    .menu a{
        margin:2% 0;
        text-decoration: none;
    }
    #upcoming{
        font-size: large;
        color: black;
        background-color: white;
        padding:20px 10px;
        border-radius: 5px;
        
    }
    #allgroup{
        font-size: large;
        color: black;
        background-color: white;
        padding:20px 35px;
        border-radius: 5px;
    }
#different-bg{
    font-size: large;
    color: white;
    background-color: orangered;
    padding:20px 55px;
    border-radius: 5px;

}
    
    .special{
        display: flex;
        justify-content: center;
        align-items:baseline;
    }
    #view-button{
        visibility: hidden;
    }

    footer{
        height: 500px;
        background-color: black;
        color: white;
        text-align: center;
    }
    #bottom{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    #bottom p{
        padding: 0 2%;
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    }
}

/* for tablets */

@media screen and (min-width:481px) and ( max-width: 768px) {
    
        #banner{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 5%;
            
            border-radius: 10px;
        } 
        
    #banner img{
        width: 100%;
    }
        .grid-container {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            padding: 80px;
          }
          .grid-item {
            background-color:azure;
            border: 1px solid silver;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
        }
        .menu{
            display: flex;
            justify-content: center;
            margin:100px auto;
            text-align: center;
    
        }
        .menu a{
            margin:0 2%;
            text-decoration: none;
        }
        
        #upcoming{
            font-size: large;
            color: black;
            border: 2px solid silver;
            padding:20px 10px;
            border-radius: 5px;
            
        }
        #allgroup{
            font-size: large;
            color: black;
            border: 2px solid silver;
            background-color: white;
            padding:20px 35px;
            border-radius: 5px;
        }
    #different-bg{
        font-size: large;
        color: white;
        background-color: orangered;
        padding:20px 55px;
        border-radius: 5px;
    
    }
    
        
        #view-button{

            visibility:visible;
            text-align: center;
        }

        footer{
            height: 500px;
            background-color: black;
            color: white;
            text-align: center;
        }
        #bottom{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
        }
        #bottom p{
            padding: 0 2%;
        }
        .icons{
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            align-items: center;
        }
    
    }
        
        
/* for mobile devices*/
@media  screen and (max-width: 480px) {
    #banner{
        background-color: black;
        color: white;
        margin: 0 5%;
        border-radius: 5px;
    }
    #banner img{
        width: 100%;
    }

    .menu{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        color: black;

    }
    
    .menu a{
        margin:2% 0;
        text-decoration: none;
    }
    .grid-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        /* padding: 0 auto; */
      }
      .grid-item {
        background-color:azure;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }
    #upcoming{
        font-size: large;
        color: black;
        border: 2px solid silver;
        padding:20px 10px;
        border-radius: 5px;
        
    }
    #allgroup{
        font-size: large;
        color: black;
        border: 2px solid silver;
        background-color: white;
        padding:20px 35px;
        border-radius: 5px;
    }
#different-bg{
    font-size: large;
    color: white;
    background-color: orangered;
    padding:20px 55px;
    border-radius: 5px;

}



    #view-button{
        display: none;
    }

    footer{
        text-align: center;
        background-color: black;
        color: white;
        padding-bottom: 10%;
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }

  }